In [33]:
import pandas as pd

# load all the datasets

nwi = pd.read_csv("WalkabilityIndex_Tract_2019.csv")
acs = pd.read_csv("national_acs_data_2019.csv")
health_outcomes = pd.read_csv("hlthout_2019.csv")

In [34]:
# Look at all the datafframes shapes

print(nwi .shape)
print(acs.shape)
print(health_outcomes.shape)

(74001, 16)
(72877, 14)
(72337, 33)

In [35]:
# loook at columns and first few rows of each dataframe

nwi_columns = nwi.columns
print(nwi_columns)
nwi.head(3)

Index(['TractID2019', 'TractID2010', 'StCoFIPS2019', 'StAbbr', 'NatWalkInd',
       'Pop2018', 'HU2018', 'HH2018', 'D2A_EPHHM', 'D2B_E8MIXA', 'D3B', 'D4A',
       'D2A_Ranked', 'D2B_Ranked', 'D3B_Ranked', 'D4A_Ranked'],
      dtype='object')

,TractID2019,TractID2010,StCoFIPS2019,StAbbr,NatWalkInd,Pop2018,HU2018,HH2018,D2A_EPHHM,D2B_E8MIXA,D3B,D4A,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked
0,1001020100,1001020100,1001,AL,2.333333,1923,779,765,0.189174,0.153064,14.604598,-99999.0,1,1,5,1
1,1001020200,1001020200,1001,AL,8.833333,2028,852,719,0.803385,0.573766,57.152279,-99999.0,20,11,10,1
2,1001020300,1001020300,1001,AL,5.166667,3476,1397,1296,0.390436,0.537381,33.036031,-99999.0,6,9,7,1

In [36]:
health_outcomes_columns = health_outcomes.columns
print(health_outcomes_columns)
health_outcomes.sort_values(by="tractfips", inplace=True)
health_outcomes.head(3)

Index(['tractfips', 'countyfips', 'stateabbr', 'statedesc', 'countyname',
       'totalpopulation', 'arthritis_crudeprev', 'arthritis_crude95ci',
       'bphigh_crudeprev', 'bphigh_crude95ci', 'cancer_crudeprev',
       'cancer_crude95ci', 'casthma_crudeprev', 'casthma_crude95ci',
       'chd_crudeprev', 'chd_crude95ci', 'copd_crudeprev', 'copd_crude95ci',
       'depression_crudeprev', 'depression_crude95ci', 'diabetes_crudeprev',
       'diabetes_crude95ci', 'highchol_crudeprev', 'highchol_crude95ci',
       'kidney_crudeprev', 'kidney_crude95ci', 'obesity_crudeprev',
       'obesity_crude95ci', 'phlth_crudeprev', 'phlth_crude95ci',
       'stroke_crudeprev', 'stroke_crude95ci', 'geolocation'],
      dtype='object')

,tractfips,countyfips,stateabbr,statedesc,countyname,totalpopulation,arthritis_crudeprev,arthritis_crude95ci,bphigh_crudeprev,bphigh_crude95ci,...,highchol_crude95ci,kidney_crudeprev,kidney_crude95ci,obesity_crudeprev,obesity_crude95ci,phlth_crudeprev,phlth_crude95ci,stroke_crudeprev,stroke_crude95ci,geolocation
219,1001020100,1001,AL,Alabama,Autauga,1912,31.8,"(30.5, 33.1)",38.8,"(37.3, 40.2)",...,"(34.5, 36.7)",2.8,"( 2.6, 3.0)",34.9,"(33.4, 36.5)",15.0,"(13.5, 16.6)",3.5,"( 3.1, 3.9)",POINT (-86.49001486 32.47718251)
2100,1001020200,1001,AL,Alabama,Autauga,2170,30.5,"(29.4, 31.5)",43.6,"(42.3, 44.7)",...,"(31.8, 33.6)",3.2,"( 3.1, 3.4)",41.3,"(39.9, 42.6)",15.9,"(14.5, 17.3)",4.3,"( 3.9, 4.7)",POINT (-86.47338874 32.47425254)
3946,1001020300,1001,AL,Alabama,Autauga,3373,31.7,"(30.5, 32.8)",39.6,"(38.2, 40.8)",...,"(34.0, 35.9)",2.9,"( 2.8, 3.1)",35.7,"(34.2, 37.0)",15.3,"(13.9, 16.8)",3.7,"( 3.4, 4.1)",POINT (-86.4602024 32.47543618)

In [37]:
acs_columns = acs.columns
print(acs_columns)
acs.head()

Index(['GEOID', 'median_income', 'percent_unemployed', 'percent_below_poverty',
       'percent_unemployed.1', 'percent_bachelor_and_higher',
       'percent_over_65', 'percent_commute_car', 'percent_commute_transit',
       'percent_white', 'percent_black', 'percent_native_american',
       'percent_asian', 'percent_pacific_islander'],
      dtype='object')

,GEOID,median_income,percent_unemployed,percent_below_poverty,percent_unemployed.1,percent_bachelor_and_higher,percent_over_65,percent_commute_car,percent_commute_transit,percent_white,percent_black,percent_native_american,percent_asian,percent_pacific_islander
0,1001020100,60208.0,2.857143,16.658304,2.857143,18.013046,13.246362,96.835443,0.000000,84.545911,7.626693,0.000000,0.100351,0.000000
1,1001020200,43958.0,4.365079,16.692190,4.365079,12.251149,14.497192,98.772169,0.000000,38.744257,57.018887,0.000000,0.000000,1.071975
2,1001020300,55345.0,3.519553,17.251212,3.519553,13.173653,16.025093,94.226328,0.000000,65.155403,24.436841,0.000000,0.912461,0.142572
3,1001020400,59663.0,3.198653,4.641568,3.198653,25.631769,24.471377,90.370813,2.990431,90.123775,5.569881,0.825168,0.283651,0.000000
4,1001020500,66108.0,3.117416,14.920725,3.117416,27.161193,13.807097,94.618088,1.701498,75.330313,18.204983,0.000000,3.633447,0.000000

In [38]:
# Rename GEOID columns for consistency

nwi = nwi.rename(columns={"TractID2019": "GEOID"})
health_outcomes = health_outcomes.rename(columns={"tractfips": "GEOID"})

In [39]:
# Look at the info for the GEOID column in each data set

nwi[["GEOID"]].info()
print()
acs[["GEOID"]].info()
print()
health_outcomes[["GEOID"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74001 entries, 0 to 74000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GEOID   74001 non-null  int64
dtypes: int64(1)
memory usage: 578.3 KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72877 entries, 0 to 72876
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GEOID   72877 non-null  int64
dtypes: int64(1)
memory usage: 569.5 KB

<class 'pandas.core.frame.DataFrame'>
Index: 72337 entries, 219 to 72289
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GEOID   72337 non-null  int64
dtypes: int64(1)
memory usage: 1.1 MB

All three GEOID columns are true integers with no missings.

In [40]:
# Clean GEOID: make sure GEOID is string and has leading zeros if necessary

nwi["GEOID"] = nwi["GEOID"].astype(str).str.zfill(11)
health_outcomes["GEOID"] = health_outcomes["GEOID"].astype(str).str.zfill(11)
acs["GEOID"] = acs["GEOID"].astype(str).str.zfill(11)

In [41]:
print(f"acs GEOID column's shape: {acs["GEOID"].shape}")
print(f"health_outcomes GEOID column's shape: {health_outcomes["GEOID"].shape}")
print(f"nwi GEOID column's shape: {nwi["GEOID"].shape}")

acs GEOID column's shape: (72877,)
health_outcomes GEOID column's shape: (72337,)
nwi GEOID column's shape: (74001,)

In [42]:
# Counting the number of duplicated GEOID in each data set

n_dups_nwi = nwi["GEOID"].duplicated().sum()
n_dups_acs = acs["GEOID"].duplicated().sum()
n_dups_health_outcomes = health_outcomes["GEOID"].duplicated().sum()

print("Duplicate GEOID count in nwi:", n_dups_nwi)
print("Duplicate GEOID count in acs:", n_dups_acs)
print("Duplicate GEOID count in health_outcomes:", n_dups_health_outcomes)

Duplicate GEOID count in nwi: 0
Duplicate GEOID count in acs: 0
Duplicate GEOID count in health_outcomes: 0

In [43]:
# Counting the number of missing GEOID in each data set

n_miss_nwi = nwi["GEOID"].isna().sum()
n_miss_acs = acs["GEOID"].isna().sum()
n_miss_health_outcomes = health_outcomes["GEOID"].isna().sum()

print("Missing GEOID count in nwi:", n_miss_nwi)
print("Missing GEOID count in acs:", n_miss_acs)
print("Missing GEOID count in health_outcomes:", n_miss_health_outcomes)

Missing GEOID count in nwi: 0
Missing GEOID count in acs: 0
Missing GEOID count in health_outcomes: 0

We are ready to merge!

In [44]:
# Merging datasets on 'GEOID' column
merged_df = nwi.merge(acs, on="GEOID", how="inner").merge(health_outcomes, on="GEOID", how="inner")

In [45]:
# Check the shape of the merged dataframe
print(f"Merged dataframe shape: {merged_df.shape}")

Merged dataframe shape: (72157, 61)

In [46]:
#Save the merged dataframe to a CSV file
merged_df.to_csv("merged_data.csv", index=False)

In [47]:
print("columns:", merged_df.columns.tolist())
print(merged_df.head(5))

columns: ['GEOID', 'TractID2010', 'StCoFIPS2019', 'StAbbr', 'NatWalkInd', 'Pop2018', 'HU2018', 'HH2018', 'D2A_EPHHM', 'D2B_E8MIXA', 'D3B', 'D4A', 'D2A_Ranked', 'D2B_Ranked', 'D3B_Ranked', 'D4A_Ranked', 'median_income', 'percent_unemployed', 'percent_below_poverty', 'percent_unemployed.1', 'percent_bachelor_and_higher', 'percent_over_65', 'percent_commute_car', 'percent_commute_transit', 'percent_white', 'percent_black', 'percent_native_american', 'percent_asian', 'percent_pacific_islander', 'countyfips', 'stateabbr', 'statedesc', 'countyname', 'totalpopulation', 'arthritis_crudeprev', 'arthritis_crude95ci', 'bphigh_crudeprev', 'bphigh_crude95ci', 'cancer_crudeprev', 'cancer_crude95ci', 'casthma_crudeprev', 'casthma_crude95ci', 'chd_crudeprev', 'chd_crude95ci', 'copd_crudeprev', 'copd_crude95ci', 'depression_crudeprev', 'depression_crude95ci', 'diabetes_crudeprev', 'diabetes_crude95ci', 'highchol_crudeprev', 'highchol_crude95ci', 'kidney_crudeprev', 'kidney_crude95ci', 'obesity_crudeprev', 'obesity_crude95ci', 'phlth_crudeprev', 'phlth_crude95ci', 'stroke_crudeprev', 'stroke_crude95ci', 'geolocation']
         GEOID  TractID2010  StCoFIPS2019 StAbbr  NatWalkInd  Pop2018  HU2018  \
0  01001020100   1001020100          1001     AL    2.333333     1923     779
1  01001020200   1001020200          1001     AL    8.833333     2028     852
2  01001020300   1001020300          1001     AL    5.166667     3476    1397
3  01001020400   1001020400          1001     AL    6.666667     3831    1867
4  01001020500   1001020500          1001     AL    8.833333     9883    4488

   HH2018  D2A_EPHHM  D2B_E8MIXA  ...  highchol_crude95ci  kidney_crudeprev  \
0     765   0.189174    0.153064  ...        (34.5, 36.7)               2.8
1     719   0.803385    0.573766  ...        (31.8, 33.6)               3.2
2    1296   0.390436    0.537381  ...        (34.0, 35.9)               2.9
3    1639   0.417094    0.576805  ...        (36.6, 38.8)               2.9
4    4174   0.678792    0.712970  ...        (31.8, 33.8)               2.4

   kidney_crude95ci  obesity_crudeprev  obesity_crude95ci  phlth_crudeprev  \
0      ( 2.6,  3.0)               34.9       (33.4, 36.5)             15.0
1      ( 3.1,  3.4)               41.3       (39.9, 42.6)             15.9
2      ( 2.8,  3.1)               35.7       (34.2, 37.0)             15.3
3      ( 2.7,  3.1)               31.4       (29.8, 33.0)             13.0
4      ( 2.3,  2.6)               32.7       (31.1, 34.4)             12.1

   phlth_crude95ci  stroke_crudeprev  stroke_crude95ci  \
0     (13.5, 16.6)               3.5      ( 3.1,  3.9)
1     (14.5, 17.3)               4.3      ( 3.9,  4.7)
2     (13.9, 16.8)               3.7      ( 3.4,  4.1)
3     (11.6, 14.4)               3.4      ( 3.0,  3.9)
4     (10.8, 13.7)               2.8      ( 2.5,  3.2)

                        geolocation
0  POINT (-86.49001486 32.47718251)
1  POINT (-86.47338874 32.47425254)
2   POINT (-86.4602024 32.47543618)
3  POINT (-86.44370417 32.47203959)
4  POINT (-86.42271039 32.45891625)

[5 rows x 61 columns]

In [48]:
# check for missing values
print(merged_df.isna().mean().sort_values(ascending=False).head(50))

cancer_crudeprev               0.027703
copd_crudeprev                 0.027703
chd_crudeprev                  0.027703
casthma_crude95ci              0.027703
casthma_crudeprev              0.027703
arthritis_crudeprev            0.027703
arthritis_crude95ci            0.027703
cancer_crude95ci               0.027703
bphigh_crudeprev               0.027703
bphigh_crude95ci               0.027703
copd_crude95ci                 0.027703
depression_crudeprev           0.027703
depression_crude95ci           0.027703
diabetes_crudeprev             0.027703
diabetes_crude95ci             0.027703
highchol_crudeprev             0.027703
highchol_crude95ci             0.027703
kidney_crudeprev               0.027703
kidney_crude95ci               0.027703
obesity_crudeprev              0.027703
obesity_crude95ci              0.027703
phlth_crudeprev                0.027703
phlth_crude95ci                0.027703
stroke_crudeprev               0.027703
stroke_crude95ci               0.027703
chd_crude95ci                  0.027703
percent_unemployed.1           0.001427
percent_unemployed             0.001427
percent_commute_transit        0.001372
percent_commute_car            0.001372
percent_asian                  0.000152
percent_pacific_islander       0.000152
percent_native_american        0.000152
percent_black                  0.000152
percent_white                  0.000152
percent_over_65                0.000152
percent_bachelor_and_higher    0.000152
percent_below_poverty          0.000152
GEOID                          0.000000
stateabbr                      0.000000
totalpopulation                0.000000
D3B                            0.000000
StCoFIPS2019                   0.000000
StAbbr                         0.000000
NatWalkInd                     0.000000
Pop2018                        0.000000
HU2018                         0.000000
HH2018                         0.000000
D2A_EPHHM                      0.000000
D2B_E8MIXA                     0.000000
dtype: float64

In [49]:
# Check the number of unique tracts in the merged dataframe
print(f"Total tracts: {len(merged_df):,}")

# Check for missing GEOID values
print(f"Missing GEOID counts: {merged_df['GEOID'].isna().sum()}")

# Check for duplicate GEOID values
print(f"Duplicate GEOID counts: {merged_df['GEOID'].duplicated().sum()}")

# Check for the GEOID lengths (should be 11 for all)
print(f"GEOID lengths: {merged_df['GEOID'].str.len().values}")

Total tracts: 72,157
Missing GEOID counts: 0
Duplicate GEOID counts: 0
GEOID lengths: [11 11 11 ... 11 11 11]

In [50]:
print("nwi tracts:", len(nwi["GEOID"].unique()))
print("acs tracts:", len(acs["GEOID"].unique()))
print("health_outcomes tracts:", len(health_outcomes["GEOID"].unique()))

# Check the number of commmon tracts in all three datasets
common_tracts = set(nwi["GEOID"]) & set(acs["GEOID"]) & set(health_outcomes["GEOID"])
print(f"Common tracts in all three datasets: {len(common_tracts)}")

nwi tracts: 74001
acs tracts: 72877
health_outcomes tracts: 72337
Common tracts in all three datasets: 72157

In [51]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72157 entries, 0 to 72156
Data columns (total 61 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   GEOID                        72157 non-null  object
 1   TractID2010                  72157 non-null  int64
 2   StCoFIPS2019                 72157 non-null  int64
 3   StAbbr                       72157 non-null  object
 4   NatWalkInd                   72157 non-null  float64
 5   Pop2018                      72157 non-null  int64
 6   HU2018                       72157 non-null  int64
 7   HH2018                       72157 non-null  int64
 8   D2A_EPHHM                    72157 non-null  float64
 9   D2B_E8MIXA                   72157 non-null  float64
 10  D3B                          72157 non-null  float64
 11  D4A                          72157 non-null  float64
 12  D2A_Ranked                   72157 non-null  int64
 13  D2B_Ranked                   72157 non-null  int64
 14  D3B_Ranked                   72157 non-null  int64
 15  D4A_Ranked                   72157 non-null  int64
 16  median_income                72157 non-null  float64
 17  percent_unemployed           72054 non-null  float64
 18  percent_below_poverty        72146 non-null  float64
 19  percent_unemployed.1         72054 non-null  float64
 20  percent_bachelor_and_higher  72146 non-null  float64
 21  percent_over_65              72146 non-null  float64
 22  percent_commute_car          72058 non-null  float64
 23  percent_commute_transit      72058 non-null  float64
 24  percent_white                72146 non-null  float64
 25  percent_black                72146 non-null  float64
 26  percent_native_american      72146 non-null  float64
 27  percent_asian                72146 non-null  float64
 28  percent_pacific_islander     72146 non-null  float64
 29  countyfips                   72157 non-null  int64
 30  stateabbr                    72157 non-null  object
 31  statedesc                    72157 non-null  object
 32  countyname                   72157 non-null  object
 33  totalpopulation              72157 non-null  int64
 34  arthritis_crudeprev          70158 non-null  float64
 35  arthritis_crude95ci          70158 non-null  object
 36  bphigh_crudeprev             70158 non-null  float64
 37  bphigh_crude95ci             70158 non-null  object
 38  cancer_crudeprev             70158 non-null  float64
 39  cancer_crude95ci             70158 non-null  object
 40  casthma_crudeprev            70158 non-null  float64
 41  casthma_crude95ci            70158 non-null  object
 42  chd_crudeprev                70158 non-null  float64
 43  chd_crude95ci                70158 non-null  object
 44  copd_crudeprev               70158 non-null  float64
 45  copd_crude95ci               70158 non-null  object
 46  depression_crudeprev         70158 non-null  float64
 47  depression_crude95ci         70158 non-null  object
 48  diabetes_crudeprev           70158 non-null  float64
 49  diabetes_crude95ci           70158 non-null  object
 50  highchol_crudeprev           70158 non-null  float64
 51  highchol_crude95ci           70158 non-null  object
 52  kidney_crudeprev             70158 non-null  float64
 53  kidney_crude95ci             70158 non-null  object
 54  obesity_crudeprev            70158 non-null  float64
 55  obesity_crude95ci            70158 non-null  object
 56  phlth_crudeprev              70158 non-null  float64
 57  phlth_crude95ci              70158 non-null  object
 58  stroke_crudeprev             70158 non-null  float64
 59  stroke_crude95ci             70158 non-null  object
 60  geolocation                  72157 non-null  object
dtypes: float64(31), int64(11), object(19)
memory usage: 33.6+ MB

In [52]:
pd.set_option('display.max_rows', None)
zero_counts = (merged_df == 0).sum()
zero_counts = zero_counts[zero_counts > 0].sort_values(ascending=False)
print(zero_counts)

percent_pacific_islander       60740
percent_native_american        35570
percent_commute_transit        23216
percent_asian                  13606
percent_black                   5416
percent_unemployed               522
percent_unemployed.1             522
percent_below_poverty            248
percent_over_65                  226
D4A                              224
D2B_E8MIXA                       187
HH2018                           175
HU2018                           167
percent_white                     79
D2A_EPHHM                         65
percent_bachelor_and_higher       60
D3B                               58
percent_commute_car               23
Pop2018                           12
dtype: int64

We have quite a few zero valued cells.

In [53]:
pd.set_option('display.max_rows', None)
weird_counts = (merged_df == -99999).sum()
weird_counts = weird_counts[weird_counts > 0].sort_values(ascending=False)
print(weird_counts)

D4A    36989
dtype: int64

Half the D4A rows have a value of -99999. I am not quite sure what that means.