In [1]:
import pandas as pd

# load all the datasets

nwi = pd.read_csv("WalkabilityIndex_Tract_2019.csv")
acs = pd.read_csv("national_acs_data_2019.csv")
health_outcomes = pd.read_csv("hlthout_2019.csv")

In [2]:
# Look at all the datafframes shapes
print(nwi .shape)
print(acs.shape)
print(health_outcomes.shape)

(74001, 16)
(72877, 14)
(72337, 33)

In [3]:
# loook at columns and first few rows of each dataframe
nwi_columns = nwi.columns
print(nwi_columns)
nwi.head()

Index(['TractID2019', 'TractID2010', 'StCoFIPS2019', 'StAbbr', 'NatWalkInd',
       'Pop2018', 'HU2018', 'HH2018', 'D2A_EPHHM', 'D2B_E8MIXA', 'D3B', 'D4A',
       'D2A_Ranked', 'D2B_Ranked', 'D3B_Ranked', 'D4A_Ranked'],
      dtype='object')

,TractID2019,TractID2010,StCoFIPS2019,StAbbr,NatWalkInd,Pop2018,HU2018,HH2018,D2A_EPHHM,D2B_E8MIXA,D3B,D4A,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked
0,1001020100,1001020100,1001,AL,2.333333,1923,779,765,0.189174,0.153064,14.604598,-99999.0,1,1,5,1
1,1001020200,1001020200,1001,AL,8.833333,2028,852,719,0.803385,0.573766,57.152279,-99999.0,20,11,10,1
2,1001020300,1001020300,1001,AL,5.166667,3476,1397,1296,0.390436,0.537381,33.036031,-99999.0,6,9,7,1
3,1001020400,1001020400,1001,AL,6.666667,3831,1867,1639,0.417094,0.576805,57.716014,-99999.0,7,11,10,1
4,1001020500,1001020500,1001,AL,8.833333,9883,4488,4174,0.678792,0.712970,43.762036,-99999.0,17,18,8,1

In [4]:
health_outcomes_columns = health_outcomes.columns
print(health_outcomes_columns)
health_outcomes.sort_values(by="tractfips", inplace=True)
health_outcomes.head()

Index(['tractfips', 'countyfips', 'stateabbr', 'statedesc', 'countyname',
       'totalpopulation', 'arthritis_crudeprev', 'arthritis_crude95ci',
       'bphigh_crudeprev', 'bphigh_crude95ci', 'cancer_crudeprev',
       'cancer_crude95ci', 'casthma_crudeprev', 'casthma_crude95ci',
       'chd_crudeprev', 'chd_crude95ci', 'copd_crudeprev', 'copd_crude95ci',
       'depression_crudeprev', 'depression_crude95ci', 'diabetes_crudeprev',
       'diabetes_crude95ci', 'highchol_crudeprev', 'highchol_crude95ci',
       'kidney_crudeprev', 'kidney_crude95ci', 'obesity_crudeprev',
       'obesity_crude95ci', 'phlth_crudeprev', 'phlth_crude95ci',
       'stroke_crudeprev', 'stroke_crude95ci', 'geolocation'],
      dtype='object')

,tractfips,countyfips,stateabbr,statedesc,countyname,totalpopulation,arthritis_crudeprev,arthritis_crude95ci,bphigh_crudeprev,bphigh_crude95ci,...,highchol_crude95ci,kidney_crudeprev,kidney_crude95ci,obesity_crudeprev,obesity_crude95ci,phlth_crudeprev,phlth_crude95ci,stroke_crudeprev,stroke_crude95ci,geolocation
219,1001020100,1001,AL,Alabama,Autauga,1912,31.8,"(30.5, 33.1)",38.8,"(37.3, 40.2)",...,"(34.5, 36.7)",2.8,"( 2.6, 3.0)",34.9,"(33.4, 36.5)",15.0,"(13.5, 16.6)",3.5,"( 3.1, 3.9)",POINT (-86.49001486 32.47718251)
2100,1001020200,1001,AL,Alabama,Autauga,2170,30.5,"(29.4, 31.5)",43.6,"(42.3, 44.7)",...,"(31.8, 33.6)",3.2,"( 3.1, 3.4)",41.3,"(39.9, 42.6)",15.9,"(14.5, 17.3)",4.3,"( 3.9, 4.7)",POINT (-86.47338874 32.47425254)
3946,1001020300,1001,AL,Alabama,Autauga,3373,31.7,"(30.5, 32.8)",39.6,"(38.2, 40.8)",...,"(34.0, 35.9)",2.9,"( 2.8, 3.1)",35.7,"(34.2, 37.0)",15.3,"(13.9, 16.8)",3.7,"( 3.4, 4.1)",POINT (-86.4602024 32.47543618)
5723,1001020400,1001,AL,Alabama,Autauga,4386,33.3,"(31.9, 34.8)",39.2,"(37.7, 40.7)",...,"(36.6, 38.8)",2.9,"( 2.7, 3.1)",31.4,"(29.8, 33.0)",13.0,"(11.6, 14.4)",3.4,"( 3.0, 3.9)",POINT (-86.44370417 32.47203959)
8006,1001020500,1001,AL,Alabama,Autauga,10766,27.9,"(26.7, 29.3)",34.6,"(33.2, 36.1)",...,"(31.8, 33.8)",2.4,"( 2.3, 2.6)",32.7,"(31.1, 34.4)",12.1,"(10.8, 13.7)",2.8,"( 2.5, 3.2)",POINT (-86.42271039 32.45891625)

In [5]:
acs_columns = acs.columns
print(acs_columns)
acs.head()

Index(['GEOID', 'median_income', 'percent_unemployed', 'percent_below_poverty',
       'percent_unemployed.1', 'percent_bachelor_and_higher',
       'percent_over_65', 'percent_commute_car', 'percent_commute_transit',
       'percent_white', 'percent_black', 'percent_native_american',
       'percent_asian', 'percent_pacific_islander'],
      dtype='object')

,GEOID,median_income,percent_unemployed,percent_below_poverty,percent_unemployed.1,percent_bachelor_and_higher,percent_over_65,percent_commute_car,percent_commute_transit,percent_white,percent_black,percent_native_american,percent_asian,percent_pacific_islander
0,1001020100,60208.0,2.857143,16.658304,2.857143,18.013046,13.246362,96.835443,0.000000,84.545911,7.626693,0.000000,0.100351,0.000000
1,1001020200,43958.0,4.365079,16.692190,4.365079,12.251149,14.497192,98.772169,0.000000,38.744257,57.018887,0.000000,0.000000,1.071975
2,1001020300,55345.0,3.519553,17.251212,3.519553,13.173653,16.025093,94.226328,0.000000,65.155403,24.436841,0.000000,0.912461,0.142572
3,1001020400,59663.0,3.198653,4.641568,3.198653,25.631769,24.471377,90.370813,2.990431,90.123775,5.569881,0.825168,0.283651,0.000000
4,1001020500,66108.0,3.117416,14.920725,3.117416,27.161193,13.807097,94.618088,1.701498,75.330313,18.204983,0.000000,3.633447,0.000000

In [6]:
# Rename GEOID columns for consistency
nwi = nwi.rename(columns={"TractID2019": "GEOID"})
health_outcomes = health_outcomes.rename(columns={"tractfips": "GEOID"})

In [7]:
# Clean GEOID
# make sure GEOID is string and has leading zeros if necessary
nwi["GEOID"] = nwi["GEOID"].astype(str).str.zfill(11)
health_outcomes["GEOID"] = health_outcomes["GEOID"].astype(str).str.zfill(11)
acs["GEOID"] = acs["GEOID"].astype(str).str.zfill(11)

In [8]:
print(f"acs GEOID column's shape: {acs["GEOID"].shape}")
print(f"health_outcomes GEOID column's shape: {health_outcomes["GEOID"].shape}")
print(f"nwi GEOID column's shape: {nwi["GEOID"].shape}")

acs GEOID column's shape: (72877,)
health_outcomes GEOID column's shape: (72337,)
nwi GEOID column's shape: (74001,)

In [9]:
# Merging datasets on 'GEOID' column
merged_df = nwi.merge(acs, on="GEOID", how="inner").merge(health_outcomes, on="GEOID", how="inner")

In [10]:
# Check the shape of the merged dataframe
print(f"Merged dataframe shape: {merged_df.shape}")

Merged dataframe shape: (72157, 61)

In [11]:
#Save the merged dataframe to a CSV file
merged_df.to_csv("merged_data.csv", index=False)

In [12]:
print("columns:", merged_df.columns.tolist())
print(merged_df.head(15))

columns: ['GEOID', 'TractID2010', 'StCoFIPS2019', 'StAbbr', 'NatWalkInd', 'Pop2018', 'HU2018', 'HH2018', 'D2A_EPHHM', 'D2B_E8MIXA', 'D3B', 'D4A', 'D2A_Ranked', 'D2B_Ranked', 'D3B_Ranked', 'D4A_Ranked', 'median_income', 'percent_unemployed', 'percent_below_poverty', 'percent_unemployed.1', 'percent_bachelor_and_higher', 'percent_over_65', 'percent_commute_car', 'percent_commute_transit', 'percent_white', 'percent_black', 'percent_native_american', 'percent_asian', 'percent_pacific_islander', 'countyfips', 'stateabbr', 'statedesc', 'countyname', 'totalpopulation', 'arthritis_crudeprev', 'arthritis_crude95ci', 'bphigh_crudeprev', 'bphigh_crude95ci', 'cancer_crudeprev', 'cancer_crude95ci', 'casthma_crudeprev', 'casthma_crude95ci', 'chd_crudeprev', 'chd_crude95ci', 'copd_crudeprev', 'copd_crude95ci', 'depression_crudeprev', 'depression_crude95ci', 'diabetes_crudeprev', 'diabetes_crude95ci', 'highchol_crudeprev', 'highchol_crude95ci', 'kidney_crudeprev', 'kidney_crude95ci', 'obesity_crudeprev', 'obesity_crude95ci', 'phlth_crudeprev', 'phlth_crude95ci', 'stroke_crudeprev', 'stroke_crude95ci', 'geolocation']
          GEOID  TractID2010  StCoFIPS2019 StAbbr  NatWalkInd  Pop2018  \
0   01001020100   1001020100          1001     AL    2.333333     1923
1   01001020200   1001020200          1001     AL    8.833333     2028
2   01001020300   1001020300          1001     AL    5.166667     3476
3   01001020400   1001020400          1001     AL    6.666667     3831
4   01001020500   1001020500          1001     AL    8.833333     9883
5   01001020600   1001020600          1001     AL    4.000000     3705
6   01001020700   1001020700          1001     AL    8.000000     4029
7   01001020801   1001020801          1001     AL    4.166667     2826
8   01001020802   1001020802          1001     AL    4.166667    11603
9   01001020900   1001020900          1001     AL    1.666667     6401
10  01001021000   1001021000          1001     AL    3.000000     2550
11  01001021100   1001021100          1001     AL    2.000000     2945
12  01003010100   1003010100          1003     AL    2.166667     4255
13  01003010200   1003010200          1003     AL    3.666667     3104
14  01003010300   1003010300          1003     AL    4.333333     9413

    HU2018  HH2018  D2A_EPHHM  D2B_E8MIXA  ...  highchol_crude95ci  \
0      779     765   0.189174    0.153064  ...        (34.5, 36.7)
1      852     719   0.803385    0.573766  ...        (31.8, 33.6)
2     1397    1296   0.390436    0.537381  ...        (34.0, 35.9)
3     1867    1639   0.417094    0.576805  ...        (36.6, 38.8)
4     4488    4174   0.678792    0.712970  ...        (31.8, 33.8)
5     1413    1332   0.399229    0.240781  ...        (34.7, 36.5)
6     1448    1419   0.755585    0.657332  ...        (35.2, 37.1)
7     1224    1022   0.415652    0.594108  ...        (34.5, 36.2)
8     4288    4099   0.330853    0.612310  ...        (34.2, 35.1)
9     2472    2305   0.341296    0.250446  ...        (34.1, 35.0)
10    1338    1020   0.369188    0.534911  ...        (35.9, 37.0)
11    1749    1325   0.274716    0.481539  ...        (36.9, 37.9)
12    2273    1558   0.305522    0.457753  ...        (37.2, 38.2)
13    1277    1140   0.603823    0.373090  ...        (36.4, 37.8)
14    3222    2990   0.458407    0.601671  ...        (34.5, 35.8)

    kidney_crudeprev  kidney_crude95ci  obesity_crudeprev  obesity_crude95ci  \
0                2.8      ( 2.6,  3.0)               34.9       (33.4, 36.5)
1                3.2      ( 3.1,  3.4)               41.3       (39.9, 42.6)
2                2.9      ( 2.8,  3.1)               35.7       (34.2, 37.0)
3                2.9      ( 2.7,  3.1)               31.4       (29.8, 33.0)
4                2.4      ( 2.3,  2.6)               32.7       (31.1, 34.4)
5                3.3      ( 3.2,  3.5)               38.7       (37.4, 39.9)
6                3.4      ( 3.2,  3.6)               38.7       (37.4, 40.0)
7                2.5      ( 2.4,  2.7)               33.6       (32.4, 34.9)
8                2.7      ( 2.6,  2.7)               35.7       (35.0, 36.4)
9                2.5      ( 2.5,  2.6)               34.0       (33.4, 34.6)
10               3.3      ( 3.2,  3.4)               38.0       (37.2, 38.8)
11               4.3      ( 4.1,  4.4)               43.6       (42.9, 44.3)
12               3.3      ( 3.2,  3.4)               33.1       (32.5, 33.6)
13               3.5      ( 3.3,  3.6)               34.3       (33.5, 35.2)
14               2.9      ( 2.8,  3.0)               30.9       (30.0, 31.7)

    phlth_crudeprev  phlth_crude95ci  stroke_crudeprev  stroke_crude95ci  \
0              15.0     (13.5, 16.6)               3.5      ( 3.1,  3.9)
1              15.9     (14.5, 17.3)               4.3      ( 3.9,  4.7)
2              15.3     (13.9, 16.8)               3.7      ( 3.4,  4.1)
3              13.0     (11.6, 14.4)               3.4      ( 3.0,  3.9)
4              12.1     (10.8, 13.7)               2.8      ( 2.5,  3.2)
5              17.7     (16.3, 19.0)               4.2      ( 3.9,  4.6)
6              19.1     (17.6, 20.5)               4.4      ( 4.0,  4.8)
7              13.1     (12.0, 14.2)               3.1      ( 2.8,  3.3)
8              14.5     (13.8, 15.1)               3.3      ( 3.1,  3.4)
9              13.5     (12.9, 14.0)               3.1      ( 3.0,  3.3)
10             16.8     (16.0, 17.7)               4.2      ( 4.0,  4.4)
11             20.0     (19.2, 20.7)               5.9      ( 5.6,  6.1)
12             16.2     (15.5, 16.9)               4.4      ( 4.2,  4.7)
13             18.3     (17.2, 19.5)               4.5      ( 4.1,  4.8)
14             13.9     (12.9, 14.8)               3.6      ( 3.4,  3.9)

                         geolocation
0   POINT (-86.49001486 32.47718251)
1   POINT (-86.47338874 32.47425254)
2    POINT (-86.4602024 32.47543618)
3   POINT (-86.44370417 32.47203959)
4   POINT (-86.42271039 32.45891625)
5   POINT (-86.47876776 32.44253063)
6   POINT (-86.44117624 32.42722743)
7     POINT (-86.5261044 32.4133561)
8    POINT (-86.5125898 32.53473876)
9      POINT (-86.52377312 32.64296)
10  POINT (-86.75607371 32.60894544)
11   POINT (-86.7322331 32.45595369)
12   POINT (-87.78624822 31.1127313)
13  POINT (-87.68176904 30.94276119)
14  POINT (-87.86679283 30.83432674)

[15 rows x 61 columns]

In [13]:
# check for missing values
print(merged_df.isna().mean().sort_values(ascending=False).head(50))

cancer_crudeprev               0.027703
copd_crudeprev                 0.027703
chd_crudeprev                  0.027703
casthma_crude95ci              0.027703
casthma_crudeprev              0.027703
arthritis_crudeprev            0.027703
arthritis_crude95ci            0.027703
cancer_crude95ci               0.027703
bphigh_crudeprev               0.027703
bphigh_crude95ci               0.027703
copd_crude95ci                 0.027703
depression_crudeprev           0.027703
depression_crude95ci           0.027703
diabetes_crudeprev             0.027703
diabetes_crude95ci             0.027703
highchol_crudeprev             0.027703
highchol_crude95ci             0.027703
kidney_crudeprev               0.027703
kidney_crude95ci               0.027703
obesity_crudeprev              0.027703
obesity_crude95ci              0.027703
phlth_crudeprev                0.027703
phlth_crude95ci                0.027703
stroke_crudeprev               0.027703
stroke_crude95ci               0.027703
chd_crude95ci                  0.027703
percent_unemployed.1           0.001427
percent_unemployed             0.001427
percent_commute_transit        0.001372
percent_commute_car            0.001372
percent_asian                  0.000152
percent_pacific_islander       0.000152
percent_native_american        0.000152
percent_black                  0.000152
percent_white                  0.000152
percent_over_65                0.000152
percent_bachelor_and_higher    0.000152
percent_below_poverty          0.000152
GEOID                          0.000000
stateabbr                      0.000000
totalpopulation                0.000000
D3B                            0.000000
StCoFIPS2019                   0.000000
StAbbr                         0.000000
NatWalkInd                     0.000000
Pop2018                        0.000000
HU2018                         0.000000
HH2018                         0.000000
D2A_EPHHM                      0.000000
D2B_E8MIXA                     0.000000
dtype: float64

In [14]:
# Check the number of unique tracts in the merged dataframe
print(f"Total tracts: {len(merged_df):,}")

# Check for missing GEOID values
print(f"Missing GEOID counts: {merged_df['GEOID'].isna().sum()}")

# Check for duplicate GEOID values
print(f"Duplicate GEOID counts: {merged_df['GEOID'].duplicated().sum()}")

# Check for the GEOID lengths (should be 11 for all)
print(f"GEOID lengths: {merged_df['GEOID'].str.len().values}")

Total tracts: 72,157
Missing GEOID counts: 0
Duplicate GEOID counts: 0
GEOID lengths: [11 11 11 ... 11 11 11]

In [15]:
print("nwi tracts:", len(nwi["GEOID"].unique()))
print("acs tracts:", len(acs["GEOID"].unique()))
print("health_outcomes tracts:", len(health_outcomes["GEOID"].unique()))

# Check the number of commmon tracts in all three datasets
common_tracts = set(nwi["GEOID"]) & set(acs["GEOID"]) & set(health_outcomes["GEOID"])
print(f"Common tracts in all three datasets: {len(common_tracts)}")

nwi tracts: 74001
acs tracts: 72877
health_outcomes tracts: 72337
Common tracts in all three datasets: 72157